@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

h1{
  text-align: center;
}

body{
  font-family: 'Nunito', sans-serif;
  background-color: black; 
  color: white;
  text-align: center;
  
}

.container{
  width: 40%;
  margin: auto;
}

#date-of-birth,#lucky-number{
  display: block;
}

input{
  display: block;
  height: 1.5rem;
  width: 100%;
  margin: 0.25rem;
  border-radius: 0.25rem
  
}

#check-btn{
  display: block;
  width: 40%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border-width: medium;
  margin-top: 8rem;
  margin:auto;
  background: transparent;
  border-color: white;
  color: white;
}
